---
import slugify from "slugify";
let options = {
	lower: true,
	trim: true,
	remove: undefined as undefined,
};
import Layout from "../layout.astro";
import {tags, sortedPosts, unslugify } from "../../utils/posts";
import { Image } from "astro:assets";
export const prerender = true;
---

<Layout
	title="Yash D's Blogs"
	imgurl="https://yashd.tech/preview.png"
	description="Blog page of Yash Deshpande :)"
>
	<section
		class="w-full min-h-screen flex flex-col justify-center max-w-6xl gap-10 mx-auto py-[10vh] relative  px-8 md:px-32"
	>
		<h1 class="font-bold uppercase text-title">Blogs</h1>

		<h3 class="font-bold text-2xl">Tags</h3>
								<span class=" flex gap-4">

		{tags.map((tag => <a href=`/tags/${slugify(tag,options)}`  class=" p-3 rounded-md bg-pink w-fit text-black font-semibold transition hover:bg-pink/70">{unslugify(tag)}</a>))}
								</span>

		{
			sortedPosts.slice(0, 5).map((post) => (
				<a
					class=" flex flex-col md:flex-row justify-between items-center border-2 rounded-2xl p-4 transition  max-w-6xl group hover:bg-card/85 hover:border-transparent gap-5"
					href={`/blog/${post.slug}/`}
				>
					<div class=" space-y-10 max-w-xl">
						<h2 class=" font-bold text-2xl md:text-3xl group-hover:underline group-hover:text-pink">
							{post.data.title}
						</h2>

						<p class=" text-md">{post.data.description}</p>
						<span class=" flex gap-4">
							{[...new Set(post.data.tags)].map((taggie) => (
								<p class=" p-2 rounded-2xl bg-peach w-fit text-black font-semibold">
									{" "}
									{unslugify(taggie)}
								</p>
							))}
						</span>
					</div>
						<Image
							src={`https://yashd.tech/og/${slugify(post.data.title, {
								lower: true,
								trim: true,
								remove: undefined,
							})}.png`}
							alt={post.data.title}
							height={400}
							width={400}
							class="h-fit size-96 object-contain rounded-3xl transition group-hover:sepia order-first md:order-last my-4 border-2 border-blue"
						/>
				</a>
			))
		}
	</section>
</Layout>
