---
import Layout from "../layout.astro";
import slugify from "slugify";
let { slug } = Astro.params;
import { Image } from "astro:assets";
import { sortedPosts, unslugify } from "../../utils/posts";
import background from "../../assets/background.svg";
---

<Layout
  title="Yash D's Blogs"
  imgurl="https://yashd.in/preview.png"
  description="Blog page of Yash Deshpande :)"
  keywords="web development, portfolio, personal website, Yash, frontend, developer, design"
>
  <main class="px-4 flex flex-col items-center">
    <section
      class="w-full min-h-screen flex flex-col items-center max-w-3xl gap-10 mx-auto py-[10vh] relative px-4"
    >
      <h1
        class="text-2xl md:text-3xl font-bold text-center animate-fade animate-duration-[230ms] animate-delay-200 animate-ease-in"
      >
        You are Searching For Posts about <em>{unslugify(slug)}</em>
      </h1>

      <div class="flex flex-col gap-6 w-full">
        {
          sortedPosts
            .filter((post) => post.data.tags.includes(slug))
            .map((post, index) => (
              <a
                class="flex flex-col md:flex-row items-start md:items-center justify-between border border-gray-100 bg-white/30 rounded-xl p-5 transition-all duration-300 hover:bg-white/60 hover:shadow-xl animate-fade animate-duration-[230ms] animate-ease-in"
                style={`animation-delay: ${400 + index * 200}ms`}
                href={`/blog/${post.slug}/`}
              >
                <div class="space-y-4 max-w-xl">
                  <h2 class="text-lg md:text-xl font-semibold text-transparent bg-clip-text bg-[linear-gradient(60deg,_rgb(247,_149,_51),_rgb(243,_112,_85),_rgb(239,_78,_123),_rgb(161,_102,_171),_rgb(80,_115,_184),_rgb(16,_152,_173),_rgb(7,_179,_155),_rgb(111,_186,_130))]">
                    {post.data.title}
                  </h2>
                  <p class="text-gray-600 text-sm">{post.data.description}</p>

                  <div class="flex flex-wrap gap-2">
                    {post.data.tags &&
                      [...new Set(post.data.tags)].map((taggie) => (
                        <span class="px-3 py-1 rounded-full bg-gradient-to-r from-orange-50 to-amber-50 text-gray-700 text-xs border border-amber-100/30">
                          <em>{unslugify(taggie)}</em>
                        </span>
                      ))}
                  </div>
                </div>

                <Image
                  src={`/og/${slugify(post.data.title, {
                    lower: true,
                    trim: true,
                    remove: undefined,
                  })}.png`}
                  alt={post.data.title}
                  height={400}
                  width={400}
                  class="h-fit size-96 object-contain rounded-3xl transition group-hover:sepia mt-6 md:mt-0 border-2 border-blue"
                />
              </a>
            ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  .animate-fade {
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
  }

  .animate-duration-\[230ms\] {
    animation-duration: 230ms;
  }

  .animate-duration-\[400ms\] {
    animation-duration: 400ms;
  }

  .animate-delay-200 {
    animation-delay: 200ms;
  }

  .animate-ease-in {
    animation-timing-function: ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
