---
import "../global.css";
import clsx from "clsx";
import SpeedInsights from "@vercel/speed-insights/astro";
const { imgurl, title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://yashd.tech" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imgurl} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://yashd.tech/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={imgurl} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="UTF-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://yashd.tech/favicon.ico"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script
			defer
			src="https://umami-ochre-ten.vercel.app/script.js"
			data-website-id="f3d034b6-7303-42eb-bd85-138220bac413"></script>
		<title>{title}</title>
	</head>
	<body
		class="bg-background text-text min-w-screen min-h-[100vh] bg-build-white md:overflow-clip pt-[12vh] md:pt-0"
	>
		<SpeedInsights />
		<slot />

		<nav
			class="fixed w-[50vw] h-[10.5vh] max-w-[200px] md:h-[28vh] md:w-[11vh] md:max-w-[100px] md:max-h-[200px] rounded-2xl top-10 left-[50%] translate-x-[-50%] md:translate-x-0 md:translate-y-[-50%] md:left-[1%] md:top-[50%] bg-card border-2 border-pink"
			id="navbar"
		>
			<div class="relative w-full h-full">
				<a href="/" rel="prefetch">
					<i
						data-lucide="home"
						class={clsx(
							"size-10 md:size-[3.4vw] text-white rounded-2xl p-1 md:p-3 mx-auto absolute transition left-5  md:left-0 md:right-0 top-[25%] md:top-5 hover:bg-green hover:text-black",
							{
								"bg-green !text-black":
									Astro.url.pathname === "/",
							}
						)}
					>
					</i>
				</a>
				<a href="/blog/" rel="prefetch">
					<i
						data-lucide="book-text"
						class={clsx(
							"size-10 md:size-[3.4vw] text-white rounded-2xl p-1 md:p-3 mx-auto absolute right-5 md:left-0 md:right-0 top-[25%] md:bottom-5 md:top-auto transition hover:bg-green hover:text-black",
							{
								"bg-green !text-black":
									Astro.url.pathname.startsWith("/blog/") ||
									Astro.url.pathname.startsWith("/tags/"),
							}
						)}
					>
					</i>
				</a>
			</div>
		</nav>
		<script is:inline>
			if (window.innerWidth < 768) {
				let lastScrollTop =
					window.scrollY || document.documentElement.scrollTop;
				const navbar = document.getElementById("navbar");

				window.addEventListener("scroll", function () {
					const scrollTop =
						window.scrollY || document.documentElement.scrollTop;

					if (scrollTop > lastScrollTop) {
						navbar.style.transition = "top 0.3s";
						navbar.style.top = "-80px";
					} else {
						navbar.style.transition = "top 0.3s";
						navbar.style.top = "20px";
					}

					lastScrollTop = scrollTop;
				});
			}
		</script>

		<script src="/lucide.js" is:inline></script>
		<script is:inline>
			lucide.createIcons();
		</script>
		<script is:inline src="/lenis.js"></script>
		<script is:inline>
			document.addEventListener("DOMContentLoaded", () => {
				const lenis = new Lenis();

				function raf(time) {
					lenis.raf(time);
					requestAnimationFrame(raf);
				}

				requestAnimationFrame(raf);
			});
		</script>
		<style>
			/* html.lenis,
			html.lenis body {
				height: auto;
			}

			.lenis.lenis-smooth {
				scroll-behavior: auto !important;
			}

			.lenis.lenis-smooth [data-lenis-prevent] {
				overscroll-behavior: contain;
			}

			.lenis.lenis-stopped {
				overflow: hidden;
			}

			.lenis.lenis-scrolling iframe {
				pointer-events: none;
			} */
		</style>
	</body>
</html>
