---
import "../global.css";
const { imgurl, title, description, keywords } = Astro.props;
import background from "../assets/background.svg";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://yashd.in" />
    <meta property="og:image" content={imgurl} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content="https://yashd.in/" />
    <meta name="twitter:image" content={imgurl} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon & Sitemap -->
    <link rel="icon" type="image/svg+xml" href="https://yashd.in/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Analytics -->
    <script
      defer
      src="https://umami-ochre-ten.vercel.app/script.js"
      data-website-id="f3d034b6-7303-42eb-bd85-138220bac413"></script>

    <title>{title}</title>
  </head>

  <body
    class="min-h-screen flex flex-col justify-between bg-black text-zinc-50 overflow-x-hidden"
  >
    <slot />

    <script src="/lucide.js" is:inline></script>
    <script is:inline>
      lucide.createIcons();
    </script>
    <script is:inline src="/lenis.js"></script>
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const lenis = new Lenis();

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
      });
    </script>
  </body>
</html>
