---
import "../global.css";
import clsx from "clsx";
const { imgurl, title, description } = Astro.props;
import background from "../assets/background.svg";
---

<html lang="en">
  <head>
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      name={title}
      content={title}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      name="description"
      content={description}
    />

    <!-- Open Graph / Facebook -->
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:type"
      content="website"
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:title"
      content={title}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:url"
      content="https://yashd.in"
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:description"
      content={description}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:image"
      content={imgurl}
    />

    <!-- Twitter -->
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="twitter:url"
      content="https://yashd.in/"
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="twitter:title"
      content={title}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="twitter:description"
      content={description}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="twitter:image"
      content={imgurl}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta data-rh="true" prefix="og: http://ogp.me/ns#" charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://yashd.in/favicon.ico" />
    <!-- Linkedin -->
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:title"
      content={title}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:type"
      content="website"
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:image"
      content={imgurl}
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      property="og:url"
      content="https://yashd.in/"
    />

    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      name="viewport"
      content="width=device-width"
    />
    <meta
      data-rh="true"
      prefix="og: http://ogp.me/ns#"
      name="generator"
      content={Astro.generator}
    />
    <script
      defer
      src="https://umami-ochre-ten.vercel.app/script.js"
      data-website-id="f3d034b6-7303-42eb-bd85-138220bac413"></script>
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col justify-between pt-8 p-8">
    <slot />
    <img
      id="background"
      src={background.src}
      alt=""
      fetchpriority="high"
      class="animate-fade animate-duration-[400ms] animate-ease-in"
    />
    <script src="/lucide.js" is:inline></script>
    <script is:inline>
      lucide.createIcons();
    </script>
    <script is:inline src="/lenis.js"></script>
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const lenis = new Lenis();

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
      });
    </script>
  </body>
  <style>
    #background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      filter: blur(100px);
    }
  </style>
</html>
